@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

header {
	background: #181818ff;
	height: 75px;
	position: sticky;
	top: 0;
	z-index: 1;
}

header a {
	color: #f1c232;
	text-decoration: none;
}

header a:hover {
	color: #bf9000;
}

header h1, h2 {
	font-family: 'Comfortaa', cursive;
}

header h1 {
	letter-spacing: 1px;
	font-size: 22px;
	position: relative;
	top: 25px;
	left: 200px;
	width: 25%;
}

header h2 {
	font-size: 20px;
}

.nav-buttons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 25px;
	right: 200px;
	width: 400px;
}