* {
  margin: 0;
  padding: 0;
}

body {
  background: #222322;
}

.page-text {
  display: block;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.page-text p {
  color: DarkGray;
  font-family: "Courier New";
  padding: 5px;
}
