{{ define "stylesheets" }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/projects/list.css">
{{ end }}
{{ define "main" }}
	<div class="main">
		<h1 id="project-list-title">All Projects</h1>
		<div class="project-list-container">
			{{ range .Pages }}
				<a href="{{ .RelPermalink }}">
					<div class="project-item">
						<div class="project-thumbnail">
							<img src="{{ .Site.BaseURL }}/images/projects/{{ .Params.icon }}" alt="{{ .Params.iconalttext }}">
						</div>
						<div class="project-metadata">
							<h1>{{ .Title }}</h1>
							<h2>{{ .Params.projecttype }}</h2>
							<p>{{ .Description }}</p>
						</div>
					</div>
				</a>
			{{ end }}
		</div>
	</div>
{{ end }}
