{{ define "stylesheets" }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/projects/list.css">
{{ end }}
{{ define "main" }}
	<div class="main">
		<h1>All Projects</h1>
		<div class="project-list-container">
			{{ range .Pages }}
				<div class="project-item">
					<a href="{{ .Permalink }}">
						<img src="{{ .Site.BaseURL }}images/projects/{{ .Params.icon }}" alt="{{ .Params.iconalttext }}">
						<h1>{{ .Title }}</h1>
						<h2>{{ .Params.projecttype }}</h2>
						<p>{{ .Description }}</p>
					</a>
				</div>
			{{ end }}
		</div>
	</div>
{{ end }}