* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

body {
	background: #272727;
}

.main {
	margin: 0 200px;
	min-width: 500px;
}

.main h1, .main h2, .main p {
	font-family: 'Comfortaa', cursive;
}

.main h1 {
	color: #f1c232;
}

#project-list-title {
	font-size: 40px;
	margin-top: 30px;
}

.project-list-container a {
	text-decoration: none;
}

.project-item {
	background: #181818ff;
	border-radius: 30px;
	display: flex;
	margin: 30px 0;
	max-height: 160px;
}

.project-item:hover {
	opacity: 80%;
}

.project-thumbnail {
	padding: 15px;
}

.project-thumbnail img {
	border-radius: 30px;
	max-height: 130px;
	max-width: 130px;
}

.project-metadata {
	overflow: hidden;
}

.project-metadata h1 {
	font-size: 20px;
	padding: 15px 0;
}

.project-metadata h2 {
	color: #b7b7b7;
	font-size: 10px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.project-metadata p {
	color: #b7b7b7;
	font-size: 15px;
}