* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

body {
	background: #272727;
}

.main {
	margin: 0 200px;
}

.main a {
	color: #f1c232;
	text-decoration: none;
}

.main a:hover {
	color: #bf9000;
}

.main p {
	color: #b7b7b7;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-top: 300px;
	text-align: center;
}