* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

body {
	background: #272727;
}

.main {
	margin: 0 200px;
}

.main a {
	color: #f1c232;
	text-decoration: none;
}

.main a:hover {
	color: #bf9000;
}

.main h1, p {
	font-family: 'Comfortaa', cursive;
	width: 100%;
}

.main h1 {
	color: #f1c232;
	font-size: 55px;
	text-align: center;
	margin-top: 50px;
	width: 100%;
}

.main p {
	color: #b7b7b7;
	font-size: 16px;
	text-align: center;
	line-height: 1.6;
	margin-top: 50px;
}

.main .socials {
	margin-top: 50px;
	text-align: center;
}

.main .socials img {
	margin: 10px;
	padding: 5px;
	height: 60px;
	width: 60px;
}

.main .socials img:hover {
	opacity: 50%;
}