{{ define "stylesheets" }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/blog/list.css">
{{ end }}
{{ define "main" }}
	<div class="main">
		<h1>Recent Posts</h1>
		<div class="recent-posts-container">
			{{ range first 3 .Pages }}
				<div class="post-item">
					<a href="{{ .Permalink }}">
						<img src="{{ .Site.BaseURL }}images/blog/{{ .Params.image }}" alt="{{ .Params.imagealttext }}">
						<h1>{{ .Title }}</h1>
						<h2>{{ .PublishDate.Format "January 2, 2006" }}</h2>
						<p>{{ .Summary }}</p>
					</a>
				</div>
			{{ end }}
		</div>
	</div>
{{ end }}