<!DOCTYPE html>
<html>
	<head>
		{{ block "stylesheets" . }}
		{{ end }}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/header.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">
		<title>{{ .Title }} - beansquared.net</title>
		<link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/images/favicon.ico">
	</head>
	<body>
		{{ block "header" . }}
		{{ end }}
		{{ block "main" . }}
		{{ end }}
		{{ block "footer" . }}
		{{ end }}
		<!-- 100% privacy friendly analytics -->
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</body>
</html>