<!DOCTYPE html>
<html>

<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
	{{ block "styles" . }}
	{{ end }}
</head>

<body>
	<header>
		<a href="/">
			<h1>Shane McMonigal</h1>
		</a>

		<nav>
			<a href="/about" id="about-link">About</a>
			<!-- <a href="/blog" id="blog-link">Blog</a> -->
			<!-- <a href="/projects" id="projects-link">Projects</a> -->
		</nav>
	</header>

	<main>
		{{ block "main" . }}
		{{ end }}
	</main>

	<!-- 100% privacy friendly analytics -->
	<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""
			referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>

</html>