{{ define "main" }}
<div>
	{{ .Content }}
	<!-- <section>
		<h1>Blog Posts</h1>
		{{ range where .Site.RegularPages "Section" "blog" }}
		<a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ end }}
	</section> -->
	<section id="homepage-projects">
		<h1>Projects</h1>
		<!-- <ul>
			{{ range where .Site.RegularPages "Section" "projects" }}
			<li>
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
			{{ end }}
		</ul> -->
		<ul>
			<li>
				<a href="https://bh-companion.netlify.app/">Battle House Companion</a>
			</li>
			<li>
				<a href="https://modrunner.net/">Modrunner</a> (<a href="https://staging.modrunner.net/">Staging</a>)
			</li>
		</ul>
	</section>
</div>
{{ end }}