* {
  margin: 0;
  padding: 0;
}

body {
  background: #222322;
}

.center-block {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.center-block h1, h2, p {
  font-family: "Courier New";
}

.center-block h1 {
  color: LightGray;
  display: block;
  font-size: 50px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.center-block img {
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  margin: 15px auto;
}

.center-block h2 {
  border: 1px solid DarkGray;
  color: DarkGray;
  display: inline;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
}

.center-block p {
  color: DarkGray;
  display: inline-block;
  margin: 20px;
  width: 60%;
}

#project-list-header {
  color: DarkGray;
  font-family: "Courier New";
  margin-left: 30px;
}

.project-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
}

.project-list a {
  text-decoration: none;
  display: inline-block;
  margin: 5px 20px;
  width: 180px;
}

.project-list img {
  background: #191a19;
  border: 0px;
  border-radius: 20%;
  height: 180px;
  width: 180px;
  padding: 10px;
}

.project-list img:hover {
  background: #222322;
}

.project-list h1, h2 {
  font-family: "Courier New";
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.project-list h1 {
  color: LightGray;
  font-size: 25px;
}

.project-list h2 {
  color: DarkGray;
  display: block;
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 5px;
}
