* {
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e0eff;
}

h1, h2, p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.page-content {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.nav-bar {
  background: #3b3b3bff;
  border-radius: 30px;
  display: flex;
  height: 70px;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  height: 70px;
  width: 75%;
}

.nav-options a {
  font-size: 12px;
  text-decoration: none;
}

.nav-options h1 {
  padding: 20px;
}

.nav-socials {
  text-align: center;
  width: 25%;
}

.nav-socials img {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  padding: 2px;
}

.welcome-desc {
  height: 336px;
}

.welcome-desc img, p {
  margin-top: 20px;
}

.welcome-desc img {
  border: 8px solid #3b3b3bff;
  border-radius: 30px;
  float: left;
  margin-right: 15px;
  height: 300px;
  width: 300px;
}

.welcome-desc p {
  display: flex;
  font-size: 22px;
  height: 316px;
  align-items: center;
}

.featured-projects h1 {
  text-align: center;
  padding: 15px;
}

.featured-projects-boxes {
  display: flex;
  height: 200px;
  justify-content: center;
}

.featured-projects-boxes h2 {
  margin-top: 15px;
  width: 95%;
}

.featured-projects-boxes p {
  width: 95%;
}

.featured-project-1 {
  background: #3b3b3bff;
  border-radius: 30px;
  margin-right: 50px;
  width: 50%;
}

.featured-project-2 {
  background: #3b3b3bff;
  border-radius: 30px;
  width: 50%;
}

.featured-projects-boxes img {
  border-radius: 30px;
  float: left;
  padding: 15px;
  padding-bottom: 5px;
  height: 100px;
  width: 100px;
}