{{ define "stylesheets" }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/contact/list.css">
{{ end }}
{{ define "main" }}
	<div class="main">
		<h1>Contact Me</h1>
		<hr>
		<div class="container-discord">
			<h2>Discord</h2>
			<p>
				If you want/need to reach me for any reason, the best way is to message me on Discord,
				as I'm online for the majority of the day and Discord is one of the few places I will
				accept random friend requests. You can either send me a DM by sending me a friend
				request or by joining my personal server that I run and sending me a message there.
			</p>
			<a href="https://discord.gg/eWscvQHNcP">CyberMechanics Guild Discord</a>
			<hr>
		</div>
		<div class="container-email">
			<h2>Email</h2>
			<p>
				For more formal inquiries I can be reached by email at the below address. If you do email
				me please do your best to make it seem like an actual person sent it (proper subject line,
				spelling, grammar etc) otherwise I'm likely to just delete it.
			</p>
			<a href="mailto:beansquared@cybermechanics.org">beansquared@cybermechanics.org</a>
			<hr>
		</div>
		<div class="container-no-contact">
			<p>
				<b>Please do not add me on Steam or Reddit. I do not accept random friend requests or respond to DMs in these places.</b>
			</p>
		</div>
	</div>
{{ end }}
